$--bg-color: #1f1f38;
$--bg-color-variant: #2c2c6c;
$--color-primary:#4db5ff;
$--color-primary-variant: rgba(77,181,255,04);
$--text-color: #ededed;
$--main-color: #af75fd;

$--container-width-lg: 75%;                                                 
$--container-width-md: 86%;
$--container-width-sm: 90%;

/*
#1f1f38
#2c2c6c
#af75fd
*/