@import '../../styles/variaveis';

.contact{
    background: $--bg-color;
    background-size: cover;
    background-position: center;
    padding: 80px;
    min-height: 100vh;
}
.row{
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.Title{
    font-weight: 600;
    font-size: 5rem;
    border-top: 10px;
    align-self: center;
}
.Title span{
    color: $--color-primary;
}
.contact_info{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact_box{
    background: $--color-primary-variant;
    padding: 1.2rem;
    border-radius: 2rem;
    text-align: center;
    border: .5rem solid transparent;
    transition: all 400ms ease;
}
.contact_box:hover{
    background: transparent;
    border-color: $--color-primary-variant;
}
.icon{
    margin-bottom: 0.5rem;
}

.form_field .form_complements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}
.form_complements div {
    width: 48%;
}
.form_complements input{
    width:100%;
    border: 0;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    border: .5rem solid $--color-primary-variant;
    padding: 15px;
    color: $--text-color;
    font-size: 1.8rem;
}
.text_input {
    width: 100%;
    margin-top: 2rem;
}
.text_input textarea{
    width: 100%;
    border: 0;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    border: .5rem solid $--color-primary-variant;
    resize: none;
    padding: 15px;
    color: $--text-color;
    font-size: 1.8rem;
}
.successMsg{
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}
.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5.5rem;
    margin-top: 2rem;
    background-color: $--color-primary;
    border: 0.2rem solid $--color-primary;
    border-radius: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}
.success { 
    color: #05f705;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.danger {
    color: #fc0404;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
}