@import '../../styles/variaveis';

.projects{
    background: $--bg-color-variant;
    padding: 8rem 80px;
}

.title{
    font-weight: 600;
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 20px;
}
.title span{
    color: $--main-color;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}