@import "../../styles/variaveis";
@keyframes showRight{
    100%{
        width: 0%;
    }
}
section{
    min-height: 101vh;
}
.home:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1s ease forwards;
    z-index: 100;
}
.home{
    position: relative;
    display: flex;
    height: 100vh;
    background: $--bg-color;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 5rem 9% 0;
}
.content{
    max-width: 60rem;
    padding-top: 2rem;
    
}
.content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
.content h1{
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.content .animatedText::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1s ease forwards;
    animation-delay: .7s;
}
.content .animatedText{
    position: relative;
    width: 32.8rem;
}
.content .animatedText h2{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1.5px $--main-color;
}
.content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1s ease forwards;
    animation-delay: .9s;
}
.content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 ;
}
.anchorBox::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;
}
.anchorBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    margin-bottom: 15px;
}
.anchorBox .anchor{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: $--main-color;
    border: .2rem solid $--main-color;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: $--bg-color;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 300ms;
}
.anchorBox .anchor:hover{
    color: $--main-color;
}
.anchorBox .anchor::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $--bg-color;
    z-index: -1;
    
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}
.anchorBox .anchor:hover:before{
    transform: scaleX(1);
    
}
.socialNetwork::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}
.socialNetwork{
    position: absolute;
    width: 170px;
    display: flex;
    align-items: start;
}
.socialNetwork  .network{
    display: inline-flex;
    width: 4rem;
    height: 40px;
    background: transparent;
    margin: 0 10px 0 0;
}
/* ============ Media Queries (SMALL DEVICES)============ */
@media only screen and (max-width: 600px){
    .content {
        padding-top: 5rem;
    }
}
@media only screen and (max-width: 600px){
    .content {
        width: 100%;
    }
    .content h1{
        font-size: 4rem;
    }
    .content p{
        margin: 1rem 0 ;
    }
    .anchorBox .anchor{
        margin-right: 10px;
    }
}

@media only screen and (max-width: 470px){
    .home{
        padding-top: 8rem;
    }
    .content h1{
        font-size: 3.2rem;
    }
    .content .Banner_animatedText{
        font-size: 2.5rem;
    }
    .content p{
        font-size: 1.5rem;
    }
    .anchorBox{
        width: 100%;
        margin-right: 50px;
    }
}
@media only screen and (max-width: 322px){
    .content{
        padding-top: 6rem;
    }
}
@media only screen and (max-width: 282px){
    .content{
        padding-top: 7rem;
    }
}


