@import "../../styles/variaveis";
@keyframes showRight{
    100%{
        width: 0%;
    }
}
@keyframes showText {
    0%, 10%, 100% {
        background-position: -33rem 0;
    }
    60%, 85% {
        background-position: 0 0;
    }
}
section{
    min-height: 101vh;
}
.home{
    position: relative;
    display: flex;
    height: 100vh;
    background: $--bg-color;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding: 5rem 9% 0;
    
}
.left_content{
    flex: 1;
}
.content{
    display: flex;
    padding-top: 7rem;
    
}
.content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}
.content h1{
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.content .animated_text::before{
    content: '';
    position: absolute;
    
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1.2s ease forwards;
    animation-delay: 1s;
}
.content .content_destaque{
    position: relative;
    width: 32.8rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.destaque {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .8px $--color-primary;
    background-image: linear-gradient(#4db5ff, #4db5ff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: showText 6s linear infinite;
    animation-delay: 2s;
}
.social_network::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1.2s ease forwards;
    animation-delay: 1s;
}
.social_network{
    display: flex;
    align-items: start;
}
.social_network  .network{
    display: inline-flex;
    width: 4rem;
    height: 40px;
    background: transparent;
    margin: 0 10px 0 0;
}
.content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1.2s ease forwards;
    animation-delay: 1.2s;
}
.resume p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 ;
}
.anchor_box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $--bg-color;
    animation: showRight 1.2s ease forwards;
    animation-delay: 1.4s;
    z-index: 2;
}
.anchor_box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    margin-bottom: 15px;
}
.anchor_box .anchor{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: $--color-primary;
    border: .2rem solid $--color-primary;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: $--bg-color;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 300ms;
}
.anchor_box .anchor:hover{
    color: $--color-primary;
}
.anchor_box .anchor::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $--bg-color;
    z-index: -1;
    
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}
.anchor_box .anchor:hover:before{
    transform: scaleX(1);
    
}
.right_content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.animated_video {
    width: 100%;
    max-width: 400px; /* Ajuste o tamanho da imagem conforme necessário */
}
/* ============ Media Queries (BIG DEVICES)============ */
@media only screen and (max-width: 1400px) and (max-height: 625px){
    
    .right_content img {
        width: 70%;
        height: 70%;
    }
}
@media only screen and (max-width: 1100px){
    .right_content{
        display: none;
    }
    .right_content img {
        display: none;
    }
}
/* ============ Media Queries (SMALL DEVICES)============ */

@media only screen and (max-width: 600px){
    .content {
        width: 100%;
    }
    .content h1{
        font-size: 4rem;
    }
    .content p{
        margin: 1rem 0 ;
    }
    .anchor_box .anchor{
        margin-right: 10px;
    }
}

@media only screen and (max-width: 470px){
    .content h1{
        font-size: 3.2rem;
    }
    .content .Banner_animatedText{
        font-size: 2.5rem;
    }
    .content p{
        font-size: 1.5rem;
    }
    .anchor_box{
        width: 100%;
        margin-right: 50px;
    }
}
@media only screen and (max-width: 420px){
    .left_content
{
        width: 100%;
    }
    .content .content_destaque {
        flex-wrap: wrap;
    }
    p{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 322px){
    .content{
        padding-top: 6rem;
    }
    
}
@media only screen and (max-width: 282px){
    .content{
        padding-top: 12rem;
    }
}


